<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div style="width: 250px;">
            <h3 class="form-field-container">Filters</h3>
            <app-graph-filter-container></app-graph-filter-container>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div style="height: 1000px;">
            <app-gant-diagram-wrapper [range]="rangeValue" [data]="timeLineFilterService.getGantDiagramData$|async">
            </app-gant-diagram-wrapper>
        </div>
    </mat-drawer-content>
</mat-drawer-container>